h1 {
  margin-top: 0;
  padding-top: 1em;
  margin-bottom: 5px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.modal {
  color: white;
  height: 50px;
  padding-bottom: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}

.hide {
  display: none;
}

#userFirstName,
#submit-form {
  margin-right: 14px;
}

#userFirstName,
#userLastName {
  padding: 12px;
  border: 2px solid #b8c4ce;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  width: 180px;
  height: 12px;
  margin-bottom: 14px;
  &::placeholder {
    color: #cad5de;
  }
}

#submit-form,
#cancel {
  border: 1.5px solid #6457f6;
  color: #6457f6;
  background-color: white;
  border-radius: 2px;
  width: 120px;
  height: 30px;
  font-weight: bold;
}
